@import "bourbon"
@import "parts/defaults"
@import "parts/vars"

html, body
    max-width: 100%
    overflow-x: hidden

body
    background-color: $orange
    position: relative
    width: 100%

.languages
    position: absolute
    right: 10px
    top: 10px
    a
        padding-left: 10px
        text-decoration: none
        color: black
        font-family: 'OffR', Arial, Helvetica, sans-serif
        font-size: 1rem
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 1)
        &:hover
            color: $orange
    img
        height: 15px

.ImgGroup
    z-index: -1000
    float: right
    position: relative
    height: 400px
    img
        position: absolute
    .headerShirts
        height: 100%
        right: 0
        z-index: -1000
        background-color: $orange


.spaceHeader
    height: 350px

.headerOrange
    position: absolute
    z-index: 1000
    margin-top: 230px

h1
    font-family: 'OffB', Arial, Helvetica, sans-serif
    font-size: 5.2rem
    margin-left: 20px
    padding-top: 0

.headerIntoWhite
    color: white
    transition: 1s

h2
    font-family: 'OffB', Arial, Helvetica, sans-serif
    line-height: 30px
    font-size: 1.8rem
    width: 760px
    //text-transform: uppercase
    margin-top: -15px

h3
    font-family: 'OffR', Arial, Helvetica, sans-serif
    margin-top: 20px
    color: white

h4
    font-family: 'OffB', Arial, Helvetica, sans-serif
    line-height: 20px
    font-size: 1.2rem
    width: 870px
    //text-transform: uppercase
    margin-top: 5px

strong
    color: rgb(240,240,240)

h5
    font-family: 'OffB', Arial, Helvetica, sans-serif
    font-size: 1.8rem
    margin-top: 10px

header
    .shakhtarLogo
        //transition: 0.5s
        height: 200px
        margin-left: 80px
        float: left
        padding-right: 25px

article
    font-family: 'OffR', Arial, Helvetica, sans-serif
    clear: both
    margin-top: 40px
    padding-left: 80px
    width: 680px
    p
        font-size: 1.2rem
        line-height: 22px
        padding-top: 10px
    a
        color: black
        &:hover
            color: rgba(255,255,255,1)
            //transition: 0.3s

.bfImage
    position: absolute
    right: 0
    width: 33%
    z-index: -100
    margin-top: -120px
    //transition: 1s

section
    margin-top: 20px
    padding-left: 80px
    font-family: 'OffR', Arial, Helvetica, sans-serif
    font-size: 1.5rem
    line-height: 20px
    .space
        margin-top: 10px
    label
        margin-top: 10px
        p
            margin-top: 0

    input
        font-family: 'OffR', Arial, Helvetica, sans-serif
        font-size: 1.4rem
        padding: 10px
        width: 500px

.button
    margin: 20px 0 20px 0
    background: #000000
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000))
    background: -webkit-linear-gradient(top, #000000, #000000)
    background: -moz-linear-gradient(top, #000000, #000000)
    background: -ms-linear-gradient(top, #000000, #000000)
    background: -o-linear-gradient(top, #000000, #000000)
    //padding: 12px 194px
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0
    box-shadow: rgba(0,0,0,1) 0 1px 0
    text-shadow: rgba(0,0,0,.4) 0 1px 0
    color: white
    font-size: 1.5rem
    font-family: 'OffR', Arial, Helvetica, sans-serif
    text-decoration: none
    vertical-align: middle
    cursor: pointer
    width: 525px
    height: 60px

.button:active
    border-top-color: #1b1b1c
    background: #1b1b1c
    text-shadow: none
/*.button:hover
    color: $orange*/

#subscribe
    width: 20px
    outline: 0
    font-size: 20px
    background-color: #aaa
    color: red

.invalid
    height: 14px

.invalidPhone, .invalidEmail, .invalidAll
    display: none
    color: rgba(0,0,0,0.5)
    margin: 0
    padding-top: 20px
    font-size: 1.2rem

.validAll
    display: none
    font-family: 'OffB', Arial, Helvetica, sans-serif
    font-size: 1.5rem
    padding-left: 80px
    color: black
    a
        color: black
        padding-left: 80px
        &:hover
            color: white

#phoneNumber:disabled, #email:disabled
    background-color: rgba(255,255,255,0.75)


@media only screen and (min-width : 1500px)
    .bfImage
        padding-right: 200px
        margin-top: -100px

@media only screen and (max-width : 1200px)
    .bfImage
        margin-top: 180px
        width: 30%
        //transition: 1s
    .ImgGroup
        height: 320px
    .headerOrange
        position: absolute
        margin-top: 150px
    .spaceHeader
        height: 280px



@media only screen and (max-width : 992px)
    .bfImage
        width: 25%
        margin-top: 250px
    h1
        font-size: 3.7rem
    h4
        width: 740px


@media only screen and (max-width : 768px)
    h1
        font-size: 3.25rem
    h2
        font-size: 1.6rem
        width: 500px
        line-height: 27px
    header .shakhtarLogo
        margin-left: 20px

    article p
        width: 480px

    .bfImage
        margin: -50px 0 0 0
        width: 15%
    h4
        width: 650px
    aside
        width: 480px

@media only screen and (max-width : 640px)
    .bfImage
        display: none
    h1
        padding-top: 20px
        font-size: 2.5rem
    h2
        padding-top: 20px
        font-size: 1.5rem
        width: 400px
        line-height: 15px
    h3
        width: 300px
    h4
        font-size: 1.0rem
        width: 550px
    aside
        width: 380px
    article p
        width: 380px
    header
        .shakhtarLogo
            margin-left: 5px
            height: 200px

